In [1]:
import pandas as pd

In [2]:
arpan_db = pd.read_csv(r"C:\Users\ARPAN PANIGRAHI\Downloads\DATA ANALYST-DOCS\VRINDA.csv")

In [3]:
arpan_db

,index,Order ID,Cust ID,Gender,Age,Date,Status,Channel,SKU,Category,Size,Qty,currency,Amount,ship-city,ship-state,ship-postal-code,ship-country,B2B
0,1,171-1029312-3038738,1029312,Women,44,04-12-2022,Delivered,Myntra,JNE1233-BLUE-KR-031-XXL,kurta,XXL,1,INR,376,MOHALI,PUNJAB,140301,IN,False
1,2,405-2183842-2225946,2183842,Women,29,04-12-2022,Delivered,Ajio,SET414-KR-NP-L,Set,L,1,INR,1449,GURUGRAM,HARYANA,122002,IN,False
2,3,171-1641533-8921966,1641533,Women,67,04-12-2022,Delivered,Myntra,SET261-KR-PP-S,Set,S,1,INR,453,KOLKATA,WEST BENGAL,700029,IN,False
3,4,404-7490807-6300351,7490807,Women,20,04-12-2022,Delivered,Amazon,SET110-KR-PP-M,Set,M,1,INR,729,THANJAVUR,TAMIL NADU,613007,IN,False
4,5,403-9293516-4577154,9293516,Women,62,04-12-2022,Delivered,Myntra,JNE2294-KR-A-XXL,kurta,XXL,1,INR,544,GURUGRAM,HARYANA,122001,IN,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31042,31043,405-4724097-1016369,4724097,M,60,06-01-2022,Delivered,Flipkart,J0083-KR-XL,kurta,XL,One,INR,565,PUNE,MAHARASHTRA,412307,IN,False
31043,31044,405-4724097-1016369,4724097,M,34,06-01-2022,Delivered,Myntra,J0010-LCD-S,Set,S,One,INR,939,BENGALURU,KARNATAKA,560061,IN,False
31044,31045,408-3572295-5992330,3572295,M,29,06-01-2022,Delivered,Amazon,SET398-KR-PP-L,Set,L,One,INR,1115,PITHORAGARH,UTTARAKHAND,262501,IN,False
31045,31046,405-1423498-9705162,1423498,M,46,06-01-2022,Delivered,Amazon,JNE3568-KR-M,kurta,M,One,INR,399,DHULE,MAHARASHTRA,424006,IN,False
31046,31047,408-4694875-8249153,4694875,M,36,06-01-2022,Delivered,Flipkart,J0341-DR-XXXL,Western Dress,3XL,One,INR,791,WARANGAL,TELANGANA,506001,IN,False

In [4]:
arpan_db.head()

,index,Order ID,Cust ID,Gender,Age,Date,Status,Channel,SKU,Category,Size,Qty,currency,Amount,ship-city,ship-state,ship-postal-code,ship-country,B2B
0,1,171-1029312-3038738,1029312,Women,44,04-12-2022,Delivered,Myntra,JNE1233-BLUE-KR-031-XXL,kurta,XXL,1,INR,376,MOHALI,PUNJAB,140301,IN,False
1,2,405-2183842-2225946,2183842,Women,29,04-12-2022,Delivered,Ajio,SET414-KR-NP-L,Set,L,1,INR,1449,GURUGRAM,HARYANA,122002,IN,False
2,3,171-1641533-8921966,1641533,Women,67,04-12-2022,Delivered,Myntra,SET261-KR-PP-S,Set,S,1,INR,453,KOLKATA,WEST BENGAL,700029,IN,False
3,4,404-7490807-6300351,7490807,Women,20,04-12-2022,Delivered,Amazon,SET110-KR-PP-M,Set,M,1,INR,729,THANJAVUR,TAMIL NADU,613007,IN,False
4,5,403-9293516-4577154,9293516,Women,62,04-12-2022,Delivered,Myntra,JNE2294-KR-A-XXL,kurta,XXL,1,INR,544,GURUGRAM,HARYANA,122001,IN,False

In [5]:
arpan_db.tail()

,index,Order ID,Cust ID,Gender,Age,Date,Status,Channel,SKU,Category,Size,Qty,currency,Amount,ship-city,ship-state,ship-postal-code,ship-country,B2B
31042,31043,405-4724097-1016369,4724097,M,60,06-01-2022,Delivered,Flipkart,J0083-KR-XL,kurta,XL,One,INR,565,PUNE,MAHARASHTRA,412307,IN,False
31043,31044,405-4724097-1016369,4724097,M,34,06-01-2022,Delivered,Myntra,J0010-LCD-S,Set,S,One,INR,939,BENGALURU,KARNATAKA,560061,IN,False
31044,31045,408-3572295-5992330,3572295,M,29,06-01-2022,Delivered,Amazon,SET398-KR-PP-L,Set,L,One,INR,1115,PITHORAGARH,UTTARAKHAND,262501,IN,False
31045,31046,405-1423498-9705162,1423498,M,46,06-01-2022,Delivered,Amazon,JNE3568-KR-M,kurta,M,One,INR,399,DHULE,MAHARASHTRA,424006,IN,False
31046,31047,408-4694875-8249153,4694875,M,36,06-01-2022,Delivered,Flipkart,J0341-DR-XXXL,Western Dress,3XL,One,INR,791,WARANGAL,TELANGANA,506001,IN,False

In [6]:
arpan_db[50:61]

,index,Order ID,Cust ID,Gender,Age,Date,Status,Channel,SKU,Category,Size,Qty,currency,Amount,ship-city,ship-state,ship-postal-code,ship-country,B2B
50,51,405-4213846-6141157,4213846,Women,27,04-12-2022,Delivered,Amazon,J0003-SET-M,Set,M,1,INR,664,HYDERABAD,TELANGANA,500039,IN,False
51,52,407-7381557-9088310,7381557,Women,21,04-12-2022,Delivered,Others,J0230-SKD-M,Set,M,1,INR,1112,Allahabad,UTTAR PRADESH,211001,IN,False
52,53,403-0817885-3061963,817885,Women,43,04-12-2022,Delivered,Others,J0113-TP-S,Top,S,1,INR,540,SOUTH DELHI,DELHI,110017,IN,False
53,54,171-2439278-5433152,2439278,M,39,04-12-2022,Delivered,Myntra,SET268-KR-NP-XS,Set,XS,1,INR,698,KHALILABAD,UTTAR PRADESH,272175,IN,False
54,55,405-8874360-4913961,8874360,M,23,04-12-2022,Delivered,Others,J0004-SKD-XXL,Set,XXL,1,INR,1115,NEW DELHI,DELHI,110016,IN,False
55,56,408-4675134-5301129,4675134,Women,58,04-12-2022,Delivered,Meesho,SET209-KR-PP-XXL,Set,XXL,1,INR,507,HYDERABAD,TELANGANA,500008,IN,False
56,57,402-9907523-6175562,9907523,M,27,04-12-2022,Delivered,Amazon,SET343-KR-NP-XS,Set,XS,1,INR,916,SULTANPUR,UTTAR PRADESH,228001,IN,False
57,58,402-9907523-6175562,9907523,Women,38,04-12-2022,Delivered,Amazon,SAR008,Saree,Free,1,INR,737,MURWARA KATNI,MADHYA PRADESH,483501,IN,False
58,59,407-7643005-7856329,7643005,M,75,04-12-2022,Delivered,Flipkart,SET402-KR-NP-XXXL,Set,3XL,1,INR,988,MUMBAI,MAHARASHTRA,400063,IN,False
59,60,407-0381223-7065145,381223,M,47,04-12-2022,Delivered,Meesho,J0095-SET-XL,Set,XL,1,INR,633,CHENNAI,TAMIL NADU,600066,IN,False
60,61,407-8538186-6616316,8538186,Women,62,04-12-2022,Delivered,Amazon,SET348-KR-NP-M,Set,M,1,INR,899,MAHENDRAGARH,HARYANA,123029,IN,False

In [7]:
arpan_db.shape

(31047, 19)

In [8]:
arpan_db.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31047 entries, 0 to 31046
Data columns (total 19 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   index             31047 non-null  int64
 1   Order ID          31047 non-null  object
 2   Cust ID           31047 non-null  int64
 3   Gender            31047 non-null  object
 4   Age               31047 non-null  int64
 5   Date              31047 non-null  object
 6   Status            31047 non-null  object
 7   Channel           31047 non-null  object
 8   SKU               31047 non-null  object
 9   Category          31047 non-null  object
 10  Size              31047 non-null  object
 11  Qty               31047 non-null  object
 12  currency          31047 non-null  object
 13  Amount            31047 non-null  int64
 14  ship-city         31047 non-null  object
 15  ship-state        31047 non-null  object
 16  ship-postal-code  31047 non-null  int64
 17  ship-country      31047 non-null  object
 18  B2B               31047 non-null  bool
dtypes: bool(1), int64(5), object(13)
memory usage: 4.3+ MB

In [9]:
arpan_db.dtypes

index                int64
Order ID            object
Cust ID              int64
Gender              object
Age                  int64
Date                object
Status              object
Channel             object
SKU                 object
Category            object
Size                object
Qty                 object
currency            object
Amount               int64
ship-city           object
ship-state          object
ship-postal-code     int64
ship-country        object
B2B                   bool
dtype: object

In [10]:
arpan_db.describe()

             index       Cust ID           Age        Amount  ship-postal-code
count  31047.00000  3.104700e+04  31047.000000  31047.000000      31047.000000
mean   15524.00000  4.936824e+06     39.496570    682.074822     460474.587206
std     8962.64124  2.900678e+06     15.117233    268.582173     198116.733009
min        1.00000  8.950000e+02     18.000000    229.000000     110001.000000
25%     7762.50000  2.416471e+06     28.000000    486.000000     313001.000000
50%    15524.00000  4.909885e+06     37.000000    646.000000     500028.000000
75%    23285.50000  7.454182e+06     47.000000    794.000000     600040.000000
max    31047.00000  9.999233e+06     78.000000   3036.000000     855117.000000

In [12]:
arpan_db.isnull().sum()

index               0
Order ID            0
Cust ID             0
Gender              0
Age                 0
Date                0
Status              0
Channel             0
SKU                 0
Category            0
Size                0
Qty                 0
currency            0
Amount              0
ship-city           0
ship-state          0
ship-postal-code    0
ship-country        0
B2B                 0
dtype: int64

In [14]:
arpan_db.isnull().sum().sum()

0

In [15]:
arpan_db.columns

Index(['index', 'Order ID', 'Cust ID', 'Gender', 'Age', 'Date', 'Status',
       'Channel ', 'SKU', 'Category', 'Size', 'Qty', 'currency', 'Amount',
       'ship-city', 'ship-state', 'ship-postal-code', 'ship-country', 'B2B'],
      dtype='object')

In [16]:
arpan_db['Order ID']

0        171-1029312-3038738
1        405-2183842-2225946
2        171-1641533-8921966
3        404-7490807-6300351
4        403-9293516-4577154
                ...
31042    405-4724097-1016369
31043    405-4724097-1016369
31044    408-3572295-5992330
31045    405-1423498-9705162
31046    408-4694875-8249153
Name: Order ID, Length: 31047, dtype: object

In [17]:
arpan_db[['index', 'Order ID','Channel ', 'SKU', 'Category']]

,index,Order ID,Channel,SKU,Category
0,1,171-1029312-3038738,Myntra,JNE1233-BLUE-KR-031-XXL,kurta
1,2,405-2183842-2225946,Ajio,SET414-KR-NP-L,Set
2,3,171-1641533-8921966,Myntra,SET261-KR-PP-S,Set
3,4,404-7490807-6300351,Amazon,SET110-KR-PP-M,Set
4,5,403-9293516-4577154,Myntra,JNE2294-KR-A-XXL,kurta
...,...,...,...,...,...
31042,31043,405-4724097-1016369,Flipkart,J0083-KR-XL,kurta
31043,31044,405-4724097-1016369,Myntra,J0010-LCD-S,Set
31044,31045,408-3572295-5992330,Amazon,SET398-KR-PP-L,Set
31045,31046,405-1423498-9705162,Amazon,JNE3568-KR-M,kurta
31046,31047,408-4694875-8249153,Flipkart,J0341-DR-XXXL,Western Dress

In [18]:
arpan_db['Channel '].nunique()

7

In [19]:
arpan_db['Channel '].unique()

array(['Myntra', 'Ajio', 'Amazon', 'Flipkart', 'Meesho', 'Others',
       'Nalli'], dtype=object)

In [20]:
arpan_db['Channel '].value_counts()

Channel
Amazon      11016
Myntra       7254
Flipkart     6703
Ajio         1931
Nalli        1484
Meesho       1398
Others       1261
Name: count, dtype: int64

In [22]:
ajio_data = arpan_db[arpan_db['Channel ']=='Myntra']
ajio_data

,index,Order ID,Cust ID,Gender,Age,Date,Status,Channel,SKU,Category,Size,Qty,currency,Amount,ship-city,ship-state,ship-postal-code,ship-country,B2B
0,1,171-1029312-3038738,1029312,Women,44,04-12-2022,Delivered,Myntra,JNE1233-BLUE-KR-031-XXL,kurta,XXL,1,INR,376,MOHALI,PUNJAB,140301,IN,False
2,3,171-1641533-8921966,1641533,Women,67,04-12-2022,Delivered,Myntra,SET261-KR-PP-S,Set,S,1,INR,453,KOLKATA,WEST BENGAL,700029,IN,False
4,5,403-9293516-4577154,9293516,Women,62,04-12-2022,Delivered,Myntra,JNE2294-KR-A-XXL,kurta,XXL,1,INR,544,GURUGRAM,HARYANA,122001,IN,False
9,10,404-2648970-9042715,2648970,W,43,04-12-2022,Delivered,Myntra,JNE3466-KR-L,kurta,L,One,INR,771,VIJAYAWADA,ANDHRA PRADESH,520002,IN,False
11,12,404-2648970-9042715,2648970,Women,45,04-12-2022,Delivered,Myntra,J0181-TP-M,Top,M,1,INR,399,ARAKONAM,TAMIL NADU,631003,IN,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31034,31035,408-6099698-0085151,6099698,M,39,06-01-2022,Delivered,Myntra,J0158-DR-L,Western Dress,L,1,INR,721,NEDUMANGAD,KERALA,695561,IN,False
31037,31038,405-6870909-7366760,6870909,M,73,06-01-2022,Delivered,Myntra,JNE3798-KR-XL,Western Dress,XL,1,INR,735,KANPUR,UTTAR PRADESH,208001,IN,False
31039,31040,405-7447678-6283558,7447678,M,30,06-01-2022,Delivered,Myntra,JNE3676-TU-S,Top,S,1,INR,385,Hyderabad,TELANGANA,500015,IN,False
31041,31042,405-4724097-1016369,4724097,W,46,06-01-2022,Delivered,Myntra,J0277-SKD-S,Set,S,One,INR,1333,VADODARA,GUJARAT,390008,IN,False
31043,31044,405-4724097-1016369,4724097,M,34,06-01-2022,Delivered,Myntra,J0010-LCD-S,Set,S,One,INR,939,BENGALURU,KARNATAKA,560061,IN,False

In [24]:
x = arpan_db[(arpan_db['Category']=='kurta') & (arpan_db['Channel ']=='Ajio')]
x

,index,Order ID,Cust ID,Gender,Age,Date,Status,Channel,SKU,Category,Size,Qty,currency,Amount,ship-city,ship-state,ship-postal-code,ship-country,B2B
124,125,408-0278400-0572330,278400,Women,31,04-12-2022,Delivered,Ajio,PJNE3068-KR-6XL,kurta,6XL,1,INR,692,NAVI MUMBAI,MAHARASHTRA,400701,IN,False
197,198,403-0524091-8412339,524091,Women,33,04-12-2022,Delivered,Ajio,PJNE3068-KR-4XL,kurta,4XL,1,INR,692,LUCKNOW,UTTAR PRADESH,226001,IN,False
222,223,403-3665568-5477149,3665568,Women,41,04-12-2022,Delivered,Ajio,JNE3566-KR-XL,kurta,XL,1,INR,368,THRISSUR,KERALA,680022,IN,False
243,244,407-8863009-7029160,8863009,Women,48,04-12-2022,Returned,Ajio,PJ0096-KR-N-6XL,kurta,6XL,1,INR,1039,HYDERABAD,TELANGANA,500081,IN,False
262,263,403-9624470-3476324,9624470,Women,48,04-12-2022,Cancelled,Ajio,JNE3431-KR-XS,kurta,XS,1,INR,333,Tiruppur,TAMIL NADU,641687,IN,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30767,30768,406-3425384-8282743,3425384,Women,27,06-01-2022,Delivered,Ajio,PJNE3373-KR-N-6XL,kurta,6XL,1,INR,561,VISAKHAPATNAM,ANDHRA PRADESH,530017,IN,False
30785,30786,402-6435207-2932301,6435207,Women,26,06-01-2022,Delivered,Ajio,JNE3782-KR-L,kurta,L,1,INR,487,NAGAPATTINAM,TAMIL NADU,611002,IN,False
30947,30948,171-8033179-4719562,8033179,Women,45,06-01-2022,Delivered,Ajio,JNE3461-KR-M,kurta,M,1,INR,352,HYDERABAD,TELANGANA,500044,IN,False
30972,30973,408-6943612-2673928,6943612,Women,28,06-01-2022,Delivered,Ajio,JNE2270-KR-487-A-XL,kurta,XL,1,INR,518,VELLORE,TAMIL NADU,632001,IN,False
31040,31041,405-4837393-8997115,4837393,M,60,06-01-2022,Delivered,Ajio,MEN5027-KR-M,kurta,M,One,INR,495,HYDERABAD,TELANGANA,500084,IN,False

In [25]:
w = arpan_db[arpan_db['Age'].between(20,30)]
w

,index,Order ID,Cust ID,Gender,Age,Date,Status,Channel,SKU,Category,Size,Qty,currency,Amount,ship-city,ship-state,ship-postal-code,ship-country,B2B
1,2,405-2183842-2225946,2183842,Women,29,04-12-2022,Delivered,Ajio,SET414-KR-NP-L,Set,L,1,INR,1449,GURUGRAM,HARYANA,122002,IN,False
3,4,404-7490807-6300351,7490807,Women,20,04-12-2022,Delivered,Amazon,SET110-KR-PP-M,Set,M,1,INR,729,THANJAVUR,TAMIL NADU,613007,IN,False
6,7,407-1298130-0368305,1298130,W,23,04-12-2022,Delivered,Meesho,JNE3801-KR-XXL,kurta,XXL,One,INR,735,BENGALURU,KARNATAKA,560029,IN,False
16,17,407-7039962-7080347,7039962,Men,30,04-12-2022,Delivered,Meesho,SET304-KR-DPT-XL,Set,XL,1,INR,1115,Bhubaneswar,ODISHA,751022,IN,False
18,19,171-8974687-6745940,8974687,Men,24,04-12-2022,Delivered,Myntra,J0161-DR-XXL,Western Dress,XXL,1,INR,473,MUMBAI,MAHARASHTRA,400097,IN,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31031,31032,407-8043662-8470731,8043662,W,22,06-01-2022,Delivered,Amazon,JNE3562-KR-XL,kurta,XL,1,INR,476,BHIMAVARAM,ANDHRA PRADESH,534201,IN,False
31032,31033,407-4137923-4616333,4137923,W,21,06-01-2022,Delivered,Amazon,SET217-KR-PP-S,Set,S,1,INR,859,BENGALURU,KARNATAKA,560047,IN,False
31033,31034,403-0741097-5754745,741097,W,30,06-01-2022,Delivered,Myntra,JNE3722-KR-L,kurta,L,1,INR,280,COIMBATORE,TAMIL NADU,641041,IN,False
31039,31040,405-7447678-6283558,7447678,M,30,06-01-2022,Delivered,Myntra,JNE3676-TU-S,Top,S,1,INR,385,Hyderabad,TELANGANA,500015,IN,False
31044,31045,408-3572295-5992330,3572295,M,29,06-01-2022,Delivered,Amazon,SET398-KR-PP-L,Set,L,One,INR,1115,PITHORAGARH,UTTARAKHAND,262501,IN,False

In [26]:
r = arpan_db[(arpan_db['Age']<=50) & (arpan_db['Gender']=='W')]
r

,index,Order ID,Cust ID,Gender,Age,Date,Status,Channel,SKU,Category,Size,Qty,currency,Amount,ship-city,ship-state,ship-postal-code,ship-country,B2B
6,7,407-1298130-0368305,1298130,W,23,04-12-2022,Delivered,Meesho,JNE3801-KR-XXL,kurta,XXL,One,INR,735,BENGALURU,KARNATAKA,560029,IN,False
9,10,404-2648970-9042715,2648970,W,43,04-12-2022,Delivered,Myntra,JNE3466-KR-L,kurta,L,One,INR,771,VIJAYAWADA,ANDHRA PRADESH,520002,IN,False
93,94,403-3542194-2527546,3542194,W,20,04-12-2022,Delivered,Amazon,SAR028,Saree,Free,1,INR,307,Perambra,KERALA,673524,IN,False
94,95,405-6859790-7125127,6859790,W,48,04-12-2022,Delivered,Meesho,SET024-KR-SP-A-M,kurta,M,1,INR,631,GURUGRAM,HARYANA,122002,IN,False
98,99,403-0294848-6612317,294848,W,19,04-12-2022,Delivered,Flipkart,JNE3365-KR-1052-A-XXL,kurta,XXL,1,INR,376,BENGALURU,KARNATAKA,560075,IN,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31033,31034,403-0741097-5754745,741097,W,30,06-01-2022,Delivered,Myntra,JNE3722-KR-L,kurta,L,1,INR,280,COIMBATORE,TAMIL NADU,641041,IN,False
31035,31036,407-6901859-1054722,6901859,W,36,06-01-2022,Delivered,Amazon,JNE1233-BLUE-KR-031-M,kurta,M,1,INR,376,BENGALURU,KARNATAKA,560027,IN,False
31036,31037,407-7670498-3916345,7670498,W,45,06-01-2022,Delivered,Nalli,MEN5004-KR-XL,kurta,XL,1,INR,480,NEW DELHI,DELHI,110070,IN,False
31038,31039,406-3695146-6880344,3695146,W,31,06-01-2022,Delivered,Flipkart,JNE3745-KR-S,kurta,S,1,INR,292,VADODARA,GUJARAT,390020,IN,False
31041,31042,405-4724097-1016369,4724097,W,46,06-01-2022,Delivered,Myntra,J0277-SKD-S,Set,S,One,INR,1333,VADODARA,GUJARAT,390008,IN,False

In [27]:
arpan_db.shape

(31047, 19)